<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-3">
                <p class="">
                    Pelita adalah inovasi dari pikiran gemilang mahasiswa Telkom University di Bandung, Indonesia,
                    yang
                    menawarkan sebuah platform revolusioner dalam hal kesehatan balita.
                </p>
                <strong>Copyright Pelita Group</strong>
            </div>
            <div class="col-3">
                <p class="">Telecommunication Street No. 1, Telkom University, Bandung Regency, West Java 40257,
                    Indonesia.</p>
                <p class="">pelitagroup@gmail.com</p>
                <p class="">+62 812-0429-2024</p>
            </div>
            <div class="col-2 nav-footer d-flex flex-column">
                <a href=""><strong>Artikel</strong></a>
                <a href=""><strong>Statistik</strong></a>
                <a href=""><strong>Dokter</strong></a>
                <a href=""><strong>Pusat Kesehatan</strong></a>
                <a href=""><strong>Kalkulator</strong></a>
                <a href=""><strong>Forum</strong></a>
                <a href=""><strong>Acara</strong></a>
            </div>
            <div class="col-2 nav-footer d-flex flex-column">
                <a href=""><strong>Tentang Kami</strong></a>
                <a href=""><strong>Kenapa Kami</strong></a>
                <a href=""><strong>Hubungi Kami</strong></a>
                <a href=""><strong>Pusat Kesehatan</strong></a>
                <a href=""><strong>Syarat dan Ketentuan</strong></a>
                <a href=""><strong>Peta Situs</strong></a>
            </div>
            <div class="col-2 d-flex justify-content-evenly">
                <a href=""><img src="img/icon-ig.png" alt=""></a>
                <a href=""><img src="img/icon-github.png" alt=""></a>
                <a href=""><img src="img/icon-linkedin.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>
