<aside class="sidebar">
    <img src="img/Logo-secondary.svg" alt="" class="img-fluid mb-5">
    <div class="sidebar-wrapper w-100 d-flex flex-column gap-2">
        <a href="" class="sidebar-link w-100 active"><i class="fa-solid fa-gauge-high fs-4 me-3"></i>Dashboard</a>
        <a href="" class="sidebar-link w-100"><i class="fa-solid fa-user-doctor fs-4 me-3"></i>Daftar Dokter</a>
        <a href="" class="sidebar-link w-100"><i class="fa-solid fa-users-between-lines fs-4 me-3"></i>Program dan
            Kebijakan</a>
        <a href="" class="sidebar-link w-100"><i class="fa-solid fa-house-laptop fs-4 me-3"></i>Acara Kesehatan</a>
        <a href="" class="sidebar-link w-100"><i class="fa-solid fa-book-medical fs-4 me-3"></i>Artikel Pendidikan
            Kesehatan</a>
    </div>
</aside>
